.Wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: start; /* Centers vertically */
    height: 100vh; /* Full height of viewport */
}

.ImageContairner {
    width:50rem; /* Increased size */
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Image {
    border: solid 2px #00FFFF; /* Added border */
    box-shadow: 0 0 20px #00FFFF; /* Added shadow */
    width: 50%; /* Scales with parent width */
    aspect-ratio: 1/1; /* Ensures it's always a perfect circle */
    object-fit: cover;
    border-radius: 50%; 
    z-index: 1; 
    object-position: center 10%; 
}

body{
    background-color: #11120D;
}
body {
    margin: 0;
    background: #0A0B1C;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

