.Wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: start; /* Centers vertically */
    height: 100vh; /* Full height of viewport */
}

.ImageContairner {
    width:50rem; /* Increased size */
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Image {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%; /* Makes the image circular */
    object-position: center 20%; /* Adjust to focus on your face */
}
body{
    background-color: #000000;
}
body {
    margin: 0;
    background: black;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

